{% extends 'index.html'%}

{% block heading %}
<h1>{{header.name}}</h1>
<h3>{{header.date}}</h3>
<p>{{header.venue}}</p>
<p><strong>Organizers:</strong> {{header.loc}}</p>
{% endblock %}

{% block main_content %}
{% if not hacks %}
<h2>Sadly there were no hacks at this event</h2>
{% else %}
<h2>Hack Day projects</h2>
<ul>
{% for data in hacks %}
<li/><a href="#{{data['title_anchor']}}">{{data.title}}</a>
{% endfor %}
</ul>
<hr />
{% for data in hacks %}

  <!-- Extra line breaks to work around https://github.com/aasorg/hacks-collector/issues/17 -->
  <div id="{{data['title_anchor']}}">
  <br/><br/><br/>
  </div>

  <h3>{{data.title}}</h3>
  <p>{{data.description}}</p>
  <h4>Creators</h4>
  <ul>
  {% for creator in data.creators %}
  <li>{{creator}}</li>
  {% endfor %}
</ul>

<h4>Other Information</h4>
<ul>
  {% if data['source-url'] %}
  <li><a href="{{data['source-url']}}">Go to source</a></li>
  {% endif %}
  {% if data['live-url']%}
  <li><a href="{{data['live-url']}}">Go to live</a></li>
  {% endif %}
  {% if data['doi']%}
  <li><a href="{{data['doi']}}">DOI: {{data.doi}}</a></li>
  {% endif %}
</ul>

{% for image in data.images %}
<img src="{{image}}" /><br/>
{% endfor %}

<hr />
{% endfor%}
{% endif %}
{% endblock %}
